<div style="text-align:center; height: 200px;">
  <h1>Welcome {{ name }}! Thanks for your registration.</h1>
  <a href={{link}}
    style="padding:15px; background:#000; color:#fff; text-decoration:none; border-radius:20px; font-weight:600;">
    Click here to confirm your email.
  </a>
</div>